@font-face {
  font-family: "Selawik";
  src: url("../selawk.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Selawik";
  src: url("../selawksb.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Selawik";
  src: url("../selawksl.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Selawik";
  src: url("../selawkl.ttf") format("truetype");
  font-weight: 100;
}

html {
  width: 100%;
}

body {
  margin: 0;
  width: 100%;
  background: #efefef;
  font-family: "Selawik";
}

* {
  box-sizing: border-box;
}

#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 9vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s all;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  z-index: 5;
}

#navbar a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 2.8vh;
  height: 9vh;
  margin: 0 1vw;
  transition: 0.2s all;
}

#navbar a:hover {
  color: #468DAB;
}

.page {
  min-height: 100vh;
  background-color: #EFEFEF;
}

#nav-logo {
  height: 7.5vh;
}

#navbar.light {
  background-color: #efefef;
  border-bottom: 0.5vh solid #0072ff;
  box-shadow: 0 4px 20px -10px white;
}

#navbar.light > a {
  color: #0096C7;
}

#navbar.dark {
  background-color: #0096C7;
  border-bottom: 0.5vh solid white;
  box-shadow: 0 4px 16px -10px black;
}

#navbar.dark > a {
  color: #efefef;
}
.dropdown .impact-menu {
  color: white;
}

.dropdown:hover .impact-menu {
  color: black;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.unbounded {
  min-height: auto;
  width: auto;
}

.page.dark {
  background-color: #0096C7;
}

.page.light {
  background-color: #efefef;
}

#footer {
  height: auto;
  padding: 2vh 0;
  background: #333;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  color: white;
  flex-wrap: wrap;
}

#footer img {
  height: 4vh;
  margin: 0 0.5vw;
}

#copyright,
#social-container,
#email,
#EIN {
  margin: 1vh 2vw;
  font-size: 2vh;
  text-align: center;
}

#social-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#email {
  color: white;
}

@media (orientation: portrait) {
  #navbar a {
    font-size: 2.05vh;
  }

  #nav-logo {
    height: 5.5vh;
  }

  #footer {
    flex-direction: column;
    height: auto;
    padding: 3vh 0;
  }

  #footer img {
    height: 3vh;
  }

  #copyright {
    display: block;
  }
}

@media only screen and (max-width: 550px) {
  #footer {
    flex-direction: column;
    align-items: center;
    padding: 3vh 0;
  }

  #footer img {
    height: 3vh;
  }

  #copyright,
  #EIN,
  #social-container,
  #email {
    margin: 1vh 0;
    font-size: 1.8vh;
  }

  #copyright {
    display: block;
  }
}

p {
  line-height: 1.2;
}
