@font-face {
  font-family: "Selawik";
  src: url("../selawk.ttf") format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "Selawik";
  src: url("../selawksb.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Selawik";
  src: url("../selawksl.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Selawik";
  src: url("../selawkl.ttf") format("truetype");
  font-weight: 100;
}

html {
  width: 100%;
}

body {
  margin: 0;
  width: 100%;
  background: #efefef;
  font-family: "Selawik";
}

* {
  box-sizing: border-box;
}

#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 9vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s all;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  z-index: 5;
}

#navbar a {
  display:flex;
  align-items: center;
  text-decoration: none;
  font-size: 2.8vh;
  height: 9vh;
  margin: 0 1vw;
  transition: 0.2s all;
}

#navbar a:hover {
  color: #468DAB;
}

.page {
  min-height: 100vh;
  background-color: #EFEFEF;
}

#nav-logo {
  height: 7.5vh;
}

#navbar.light {
  background-color: #efefef;
  border-bottom: 0.5vh solid #0072ff;
  box-shadow: 0 4px 20px -10px white;
}

#navbar.light > a {
  color: #0096C7;
}

#navbar.dark {
  background-color: #0096C7;
  border-bottom: 0.5vh solid white;
  box-shadow: 0 4px 16px -10px black;
}

#navbar.dark > a {
  color: #efefef;
}

.unbounded {
  min-height: auto;
  width: auto;
}

.page.dark {
  background-color: #0096C7;
}

.page.light {
  background-color: #efefef;
}

#footer {
  height: 10vh;
  background: #333;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
}

#footer img {
  height: 4vh;
  margin: 0 0.5vw;
}

#copyright, #social-container, #email {
  margin: 0 5vw;
  font-size: 2vh;
}

#social-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#email {
  color: white;
}

@media (orientation: portrait) {
  #navbar a {
    font-size: 2.05vh;
  }

  #nav-logo {
    height: 5.5vh;
  }
}

@media only screen and (max-width: 550px) {
  #footer {
    flex-direction: column;
  }

  #copyright {
    display: none;
  }
}

p {
  line-height: 1.2;
}