#phrase-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;
  background-size: cover;
  background-position-x: center;
}

#phrase-background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index:0;
  filter: brightness(60%);
  object-fit: cover;
}

.text-image-container {
  display: flex;
  flex-direction: row;
  
}

.text-image-container > div {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20vh 6vw 10vh 6vw;
}

#who-container {
  background-color: #0096C7;
}

#instagram-feed-container {
  margin-left: 13%;
}

#whitespace {
  background-color: white;
  margin-top: 5%;
}

#recent-container {
  background-color: #0096C7;
}

#join-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0096C7;
}

#join-button {
  background-color: white;
  border-radius: 2vh;
  padding: 25px 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  color: #0096C7;
  text-decoration: none;
  margin: 50px 0;
}

.text-image-container > div {
  padding: 20vh 6vw 10vh 6vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text-image-container.dark {
  color: white;
}

.text-image-container.light {
  color: #0096C7;
}

.text-image-container > div > h1 {
  font-size: 4.5vh;
  margin: 0 0 3vh 0;
}

.text-image-container > div > p {
  font-family: Selawik;
  font-size: 3vh;
  margin: 0;
  font-weight: 100;
}

.text-image-container > div > img {
  width: 100%;
  border-radius: 2vh;
}

.img-container {
  min-width: 40%;
}

#phrase-logo {
  height: 30vh;
  padding: 2vh 1vw;
  border-radius: 2vh;
  z-index: 2;
  background-color: transparent;
}

#phrase-text {
  margin: 2vh 0 0 0;
  color: white;
  font-size: 5.5vh;
  font-weight: normal;
  text-align: center;
  z-index: 1;
  text-shadow: 0 0 10px #333
}

@media (orientation: portrait) {
  #who-container {
    flex-direction: column;
  }

  #what-container {
    flex-direction: column-reverse;
  }

  .text-image-container > div {
    padding: 1vh 6vw 6vh 6vw;
  }

  #who-container > div:first-child {
    padding-top: 14vh;
  }

  #what-container > div:last-child {
    padding-top: 14vh;
  }

  #phrase-logo {
    height: auto;
    width: 80%;
  }

  .text-image-container > div > p {
    font-size: 2.7vh;
  }

  #phrase-text {
    font-size: 4vh;
    margin-top: 3vh;
  }
}