<%- include('include/_header') -%>
<div style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 25vh;">
  <h1>Admin Login</h1>
  <form action="/login" method="POST">
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required />
    <button type="submit">Login</button>
  </form>
  <a href="/auth/google">Login with Google</a>
</div>
<%- include('include/_footer') -%>
