<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>The Power Up Project</title>
  </head>
  <body>
    <span>
      <header>
        <nav>
          <a href="/blog">Blog</a>
          <a href="/donate">Donate</a>
          <a href="/"
            ><img src="/img/logo-icon-blue.png" alt="Power Up Project Logo"
          /></a>
          <a href="/impact">Impact</a>
          <a href="/leadership">Leadership</a>
        </nav>
      </header>
    </span>
  </body>
</html>
