#faq-container {
  margin: 0 20vw 6vh 20vw;
}

#faq-header {
  font-family: Selawik;
  font-size: 7vh;
  font-weight: 600;
  color: #0096C7;
  padding: 14.5vh 0 0 0;
  display: inline-block;
}

#qas > div > p {
  font-family: Selawik;
  color: #333;
  margin: 0;
  margin-top: 2vh;
}

#qas > div > p:first-child {
  font-size: 3vh;
  font-weight: 600;
}

#qas > div > p:last-child, ul {
  font-size: 2vh;
  margin-left: 2vw;
}

@media (orientation: portrait) {
  #faq-container {
    margin: 9.5vh 7vw 0 7vw;
  }
}

