#donate-header {
  font-size: 5vh;
  font-weight: 600;
  color: #0096C7;
  margin: 14.5vh 0 0 0;
  display: inline-block;
}

#donate-subheader {
  font-size: 2.5vh;
  color: #333;
  margin: 1vh 0 1vh 0;
  display: inline-block;
}

#donate-form-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}

@media (min-width: 768px) {
  #donate-form-container {
      padding: 0 30px;
  }
}

#donate-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#donate-form > input, select, textarea {
  border: 0.25vh solid #0096C7;
  border-radius: 1vh;
  width: 90%;
  font-size:3vh;
  font-family: Selawik;
  padding: 0.5vh 0.5vw;
  margin: 1.5vh 0;
  color: #333;
}

#submit {
  background-color: #0096c7;
  color: white !important;
  width: 30% !important;
}


#donate-form > textarea {
  resize: none;
  font-size: 2.5vh;
  height: 15vh;
}

@media (orientation: portrait) {
  #donate-form-container {
    margin: 0 7vw 0 7vw;
  }

  #donate-form > input, select, textarea {
    width: 100%;
    padding: 0.5vh 2vw;
    font-size: 2vh;
  }

  #donate-form > textarea {
    font-size: 1.5vh;
  }

  #submit {
    width: 50% !important;
  }

  #donate-form-container {
    max-width: 1200px;
    margin: 0 auto;
  }
}